<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textboard</title>
</head>
<body>
    <h1>Posts</h1>
    {% for post in posts %}
        <div>
            <p><strong>{{ post.id }}: {{ post.content }}</strong></p>
            {% if post.replies|length > 0 %}
                <ul>
                    {% for reply in post.replies %}
                        <li>{{ reply.id }}: {{ reply.content }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
